@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  outline: none;
  background-color: white;
  color:  #8B8B8B;
  border-radius: 2rem;
  padding: 1rem;
  margin: 5px;
  resize: none;
  outline: none;
  border: 2px solid white;
  transition: 0.5s ease;
  flex-shrink: 0;
}

:root {
  --dark-blue: #587bb4;
  --light-blue: #F2F7FF;
  --light-grey-background: #f0f0f0;

  --dark-grey-text: #525252;
  --light-grey-text: #8B8B8B;

  --button-hover: #2B5291;
  --box-shadow: rgba(0, 0, 0, 0.16);
  
  --alert-red: #CB0814;

  --box-shadow: rgba(136, 136, 136, 0.5);

  --white:white;
}


a {
  transition: 0.5s;
  /*ANIMATION*/
  text-decoration: none;
  color: inherit;
}

a.white-text {
  color: var(--white);
}

a:hover {
  color: var(--dark-blue);
}
 
input[type=date] {
  color: var(--dark-blue);
  font-family: effra;
  border: 3px solid var(--dark-blue);
  padding: 0.5rem;
  border-radius: 2rem;
  margin-left: 1rem;
}